.idea/
log/capistrano.log
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/src/GimmeBundle/Resources/assets/node_modules/
/src/GimmeBundle/Resources/assets/javascript/dist/
/src/GimmeBundle/Resources/assets/stylesheet/dist/
