<div class="blog-ribbon">
  <div class="qedu-container">
    <h6 class="footer-logo">
      <a href="/">QEdu</a>
    </h6>
    <a href="http://blog.qedu.org.br" class="tar">Descubra mais ideias sobre educação em nosso Blog</a>
  </div>
</div>

<footer class="qedu-footer">
  <div class="qedu-container">
    <ul class="site-map">
      <li><h5>SOBRE</h5></li>
      <li><a href="/sobre">O que é o QEdu?</a></li>
      <li><a href="/sobre/creditos">Equipe QEdu</a></li>
      <li><a href="/depoimentos">Depoimentos</a></li>
      <li><a href="/feedback">Entre em contato</a></li>
    </ul>

    <ul class="site-map">
      <li><h5>Academia QEdu</h5></li>
      <li><a href="http://academia.qedu.org.br/ideb/" target="_blank">Ideb</a></li>
      <li><a href="http://academia.qedu.org.br/prova-brasil" target="_blank">Prova Brasil</a></li>
      <li><a href="http://academia.qedu.org.br/enem" target="_blank">Enem</a></li>
      <li><a href="http://academia.qedu.org.br/censo-escolar" target="_blank">Censo escolar</a></li>
      <li><a href="http://academia.qedu.org.br/como-usar" target="_blank">Como usar o QEdu</a></li>
      <li><a href="http://academia.qedu.org.br/glossario" target="_blank">Glossário</a></li>
    </ul>

    <ul class="site-map">
      <li><h5>QEdu e você</h5></li>
      <li><a href="/especiais/voce-transforma-a-educacao" target="_blank">Você Transforma a Educação</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="http://redes.qedu.org.br" target="_blank">QEdu Redes</a></li>
      <li><a href="https://qedu.typeform.com/to/PIDXIy" target="_blank">Você usa o QEdu?</a></li>
      <li><a href="http://ajuda.qedu.org.br" target="_blank">Ideias e sugestões</a></li>
      <li><a href="https://plus.google.com/105160466069680648981" rel="publisher" target="_blank">Google+</a></li>
      <li><a href="http://twitter.com/portalqedu" target="_blank">Twitter</a></li>
    </ul>

    <div class="qedu-facebook">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FPortalQEdu&amp;width=340&amp;height=190&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23F4F3F3&amp;header=false&amp; appId="" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:190px; allowTransparency="false"></iframe>
    </div>
  </div>
</footer>

<section class="qedu-copyright">
  <div class="qedu-container">
    <p class="copyright">© {{ "now"|date("Y") }} <b>QEdu</b>: Use dados. Transforme a educação.</p>
    <a href="#qedu-header" class="header-anchor" data-smoothscroll="#qedu-header">Topo</a>
    <ul>
      <li><a href="/midia/imprensa">Imprensa</a></li>
      <li><a href="/termos-uso">Termos de uso</a></li>
      <li><a href="/privacidade">Políticas de privacidade</a></li>
    </ul>
  </div>
</section>
