<header id="qedu-header" class="qedu-header">
  <div class="qedu-container">
    <h1 class="qedu-logo">
      <a href="/">
        <img src="http://d2jaknbl34vcit.cloudfront.net/img/qedu/header/qedu-logo.png" alt="QEdu" />
      </a>
    </h1>

    <ul class="qedu-menu" id="qedu-menu">
      <li class="st"><a href="/sobre">Sobre</a></li>
      <li class="st"><a href="#">Destaques</a>
        <ul class="qedu-submenu">
          <li class="nd">
            <a href="/especiais/voce-transforma-a-educacao">
              <span class="label-link">Você transforma a educação</span>
              <span class="desc-link">Descubra como os dados estão sendo usados para transformar a educação</span>
            </a>
          </li>
          <li class="nd">
            <a href="/estudo/excelencia-com-equidade/">
              <span class="label-link">Excelência com equidade</span>
              <span class="desc-link">Educação de qualidade em regiões de baixo nível socieconômico</span>
            </a>
          </li>
          <li class="nd">
            <a href="/ebook-prova-brasil">
              <span class="label-link">eBook Prova Brasil</span>
              <span class="desc-link">Publicação digital gratuita que ensina o que você precisa sobre a Prova Brasil</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="st"><a href="http://redes.qedu.org.br" target="_blank">Redes</a></li>
      <li class="st"><a href="http://blog.qedu.org.br">Blog</a></li>
      <li class="st"><a href="http://academia.qedu.org.br">Academia</a></li>
    </ul>

    {% if app.user %}
      <ul class="qedu-user-profile-menu-ct">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img width="42"
                 height="42"
                 class="qedu-user-avatar"
                 src="https://i1.wp.com/s3.amazonaws.com/qedu-assets/user-avatar-small.png?ssl=1" />
            <span class="caret"></span>
          </a>
          <ul class="qedu-user-profile-menu dropdown-menu">
            <span class="arrow"></span>
            <li class="user-data">
              <a class="name" href="/perfil">
                  {{ app.user.name }} {{ app.user.surname }}
              </a>
              <span class="email">
                {{ app.user.username }}
              </span>
            </li>
            <li class="user-logout">
              <a href="/sair">Sair</a>
            </li>
          </ul>
        </li>
      </ul>
    {% else %}
      <div class="qedu-access">
        <a href="/entrar/" class="access q-bt">Entrar</a>
        <a href="/#cadastro" class="register q-bt">Cadastre-se</a>
      </div>
    {% endif %}

    <form class="qedu-search">
      <input type="text" placeholder="Busque por escola, cidade ou estado...">
    </form>
  </div>
</header>


<script type="text/html" id="qedu-search-tmpl-nothing-typed">
  <div class="qedu-search-results">
    <div class="qedu-search-nav-list">
      <div class="qedu-search-nav-helper">
        <h3>Para encontrar escolas, digite:</h3>
        <ul>
          <li>O <b>nome</b> parcial ou completo da escola.</li>
          <li>O <b>nome parcial</b> da escola e a <b>cidade</b>.</li>
          <li>O <b>bairro</b> e <b>cidade</b> da escola.</li>
        </ul>

        <h3>Para encontrar cidades ou estados, digite:</h3>
        <ul>
          <li>O <b>nome</b> da cidade ou estado.</li>
        </ul>
      </div>
    </div>

    <div class="qedu-search-guided-block">
      <a href="/busca">Lista completa de escolas, cidades e estados</a>
    </div>
  </div>
</script>

<script type="text/html" id="qedu-search-tmpl-nothing-founded">
  <div class="qedu-search-results">
    <div class="qedu-search-nav-list">
      <div class="qedu-search-nav-helper">
        <h3>Nenhum resultado encontrado:</h3>
        <ul>
          <li>Verifique se digitou os termos corretamente?></li>
          <li>Use <strong>vírgula</strong> para separar o nome da escola, bairro e cidade</li>
        </ul>
      </div>
    </div>

    <div class="qedu-search-guided-block">
      <a href="/busca">Lista completa de escolas, cidades e estados</a>
    </div>
  </div>
</script>

<script type="text/html" id="qedu-search-tmpl-results">
  <div class="qedu-search-results">

    <% if (states.length) { %>
      <ul class="qedu-search-nav qedu-search-nav-list qedu-search-states">
        <div class="qedu-search-pull-left">
          <span class="qedu-search-legend">Estados/país</span>
        </div>

        <div class="qedu-search-pull-right">
          <% _.each(states, function(num) { %>
            <li><a class="qedu-search-result" href="<%= num.link %>"><%= num.name %><label><%= num.subtitle %></label></a></li>
          <% }); %>
        </div>
      </ul>
    <% } %>

    <% if (cities.length) { %>
      <ul class="qedu-search-nav qedu-search-nav-list qedu-search-cities">
        <div class="qedu-search-pull-left">
          <span class="qedu-search-legend">Cidades</span>
        </div>

        <div class="qedu-search-pull-right">
          <% _.each(cities, function(num) { %>
            <li><a class="qedu-search-result" href="<%= num.link %>"><%= num.name %><label class="qedu-search-state"><%= num.subtitle %></label></a></li>
          <% }); %>
        </div>
      </ul>
    <% } %>

    <% if (schools.length) { %>
      <ul class="qedu-search-nav qedu-search-nav-list qedu-search-schools">
        <div class="qedu-search-pull-left">
          <span class="qedu-search-legend">Escolas</span>
        </div>

        <div class="qedu-search-pull-right">
          <% _.each(schools, function(num) { %>
            <li>
              <a class="qedu-search-result" href="<%= num.link %>">
                <%= num.name %>
                <% if(num.has_proficiency) { %>
                  <span class="qedu-search-label qedu-search-label-success">Prova Brasil</span>
                <% } %>
                <label><%= num.subtitle %></label>
              </a>
            </li>
          <% }); %>
        </div>
      </ul>
    <% } %>

    <% if (citygroups.length) { %>
      <ul class="qedu-search-nav qedu-search-nav-list qedu-search-citygroups">
        <div class="qedu-search-pull-left">
          <span class="qedu-search-legend">Regiões</span>
        </div>

        <div class="qedu-search-pull-right">
          <% _.each(citygroups, function(num) { %>
            <li><a class="qedu-search-result" href="<%= num.link %>"><%= num.name %><label class="qedu-search-state"><%= num.subtitle %></label></a></li>
          <% }); %>
        </div>
      </ul>
    <% }  %>

    <div class="qedu-search-nav-list qedu-search-nav-helper">
      <h3>Se precisar ser mais específico, tente:</h3>
      <ul>
        <% if (cities.length) { %>
          <% _.each(cities, function(city) { %>
            <li>Todas as escolas de <a href="<%=city.linkSearchGuided%>"><%=city.name%> - <%=city.subtitle%></a>.</li>
          <% }); %> 
        <% }  %>
      </ul>
    </div>

    <div class="qedu-search-guided-block">
      <a href="/busca">Lista completa de escolas, cidades e estados</a>
    </div>
  </div>
</script>
