<div class="span6">
  {% include 'census/group/general_data.html.twig' %}
  {% include 'census/group/other_information.html.twig' %}
  {% include 'census/group/food.html.twig' %}
  {% include 'census/group/enrollment.html.twig' %}
  {% include 'census/group/enrollment_grade.html.twig' %}
</div>
<div class="span6">
  {% include 'census/group/accessibility.html.twig' %}
  {% include 'census/group/infrastructure.html.twig' %}
  {% include 'census/group/equipments.html.twig' %}
  {% include 'census/group/basic_sanitation.html.twig' %}
  {% include 'census/group/computers_internet.html.twig' %}
</div>
