@font-face {
    font-family: 'qedu';
    src: url('/font/qedu/qedu-webfont.eot');
    src: url('/font/qedu/qedu-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/qedu/qedu-webfont.woff') format('woff'),
         url('/font/qedu/qedu-webfont.ttf') format('truetype'),
         url('/font/qedu/qedu-webfont.svg#qedu') format('svg');
    font-weight: normal;
    font-style: normal;
}

.systemicon {
    font-family: 'qedu';
    left: 2px;
    line-height: 1;
    position: relative;
    top: 4px;
}

.systemicon-focus:before {
    content: "\41";
}

.systemicon-who:before {
    content: "\42";
}

.systemicon-news:before {
    content: "\43";
}

.systemicon-use:before {
    content: "\44";
}
