<section class="excelencia-equidade-banner-ct">
  <a href="http://www.fundacaolemann.org.br/excelencia-com-equidade/?utm_source=qedu&amp;utm_medium=banner&amp;utm_campaign=divulgacao-excelencia-equidade" target="_blank">
    <img src="https://qedu-assets.s3.amazonaws.com/banner_excelencia_equidade_mini.jpg"
             alt="Excelência com Equidade - Os desafios dos anos finais do ensino fundamental - Clique e saiba mais">
  </a>
</section>
