<section class="excelencia-equidade-banner-ct">
  <a href="https://fundacaolemann.org.br/materiais/excelencia-com-equidade?utm_source=qedu&amp;utm_medium=banner&amp;utm_campaign=divulgacao-excelencia-equidade" target="_blank">
    <img src="https://d2jaknbl34vcit.cloudfront.net/img/qedu/banner/excelenciaequidade.jpg"
             alt="Excelência com Equidade - Os desafios dos anos finais do ensino fundamental - Clique e saiba mais">
  </a>
</section>
