<section class="subnav-section gray-pattern">

  <div class="container with-avatar-small">

    <div class="subnav-title">
      <ul class="subnav-breadcrumb has-no-parent">
        <li>
          <div class="subnav-title brasil-title">
            <a href="/brasil/aprendizado"><strong>Brasil</strong></a>
          </div>
        </li>
        <li id="ujeid_1-dropdown" class="dropdown ">
          <div class="select2-container" id="s2id_ujeid_1">
            <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">
              <abbr class="select2-search-choice-close"></abbr>
              <span class="select2-arrow"><b></b></span>
            </a>
            <input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen1">
            <div class="select2-drop select2-display-none dropdown-limited-height pull-right-select2 small-select2 select2-breadcrumb-box select2-with-searchbox">
              <div class="select2-search">
                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">
              </div>
              <ul class="select2-results"></ul>
            </div>
          </div>
          <input type="hidden" id="ujeid_1" tabindex="-1" class="select2-offscreen">
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="block-image thumbnail avatar-block-small ">
      <a href="/brasil" rel="tooltip" title="" class="avatar-container" data-original-title="">
        <img src="/img/provabrasil/avatar/states/128px/BR.png">
      </a>
    </div>

    <div class="subnav-title">
      <h1>Brasil</h1>
    </div>

    <div class="action-buttons social-section">
      <div class="addthis_sharing_toolbox"></div>
    </div>
  </div>

  <div class="subnav with-avatar-small-margin">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="/brasil/aprendizado">Aprendizado</a>
      </li>
      <li><a href="/brasil/compare">Compare</a></li>
      <li><a href="/brasil/evolucao">Evolução</a></li>
      <li><a href="/brasil/proficiencia">Proficiência</a></li>
      <li><a href="/brasil/explorar">Explore</a></li>
      <li><a href="/brasil/pessoas">Pessoas</a></li>
      <li><a href="/brasil/censo-escolar">Censo</a></li>
      <li><a href="/brasil/ideb">Ideb</a></li>
    </ul>
  </div>

</section>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-542c488254cb45ee" async></script>
