<div class="group-educacenso">
  <h3>Saneamento Básico</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Abastecimento de água</th>
      <td>Rede pública</td>
    </tr>
    <tr>
      <th>Abastecimento de energia</th>
      <td>Rede pública</td>
    </tr>
    <tr>
      <th>Destino do esgoto</th>
      <td>Rede pública</td>
    </tr>
    <tr>
      <th>Destino do Lixo</th>
      <td>Coleta periódica</td>
    </tr>
    </tbody>
  </table>
</div>
