<div class="group-educacenso">
  <h3>Computadores e Internet</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Internet</th>
      <td><span style="color: darkgreen">Sim</span></td>
    </tr>
    <tr>
      <th>Banda larga</th>
      <td><span style="color: darkgreen">Sim</span></td>
    </tr>
    <tr>
      <th>Computadores para uso dos alunos</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Computadores para uso administrativo</th>
      <td>1</td>
    </tr>
    </tbody>
  </table>
</div>
