<div class="group-educacenso">
  <h3>Matrículas por Série</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Matrículas 1º ano EF</th>
      <td>10</td>
    </tr>
    <tr>
      <th>Matrículas 2º ano EF</th>
      <td>13</td>
    </tr>
    <tr>
      <th>Matrículas 3º ano EF</th>
      <td>4</td>
    </tr>
    <tr>
      <th>Matrículas 4º ano EF</th>
      <td>18</td>
    </tr>
    <tr>
      <th>Matrículas 5º ano EF</th>
      <td>9</td>
    </tr>
    <tr>
      <th>Matrículas 6º ano EF</th>
      <td>15</td>
    </tr>
    <tr>
      <th>Matrículas 7º ano EF</th>
      <td>11</td>
    </tr>
    <tr>
      <th>Matrículas 8º ano EF</th>
      <td>17</td>
    </tr>
    <tr>
      <th>Matrículas 9º ano EF</th>
      <td>9</td>
    </tr>
    <tr>
      <th>Matrículas 1º ano EM</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Matrículas 2º ano EM</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Matrículas 3º ano EM</th>
      <td>0</td>
    </tr>
    </tbody>
  </table>
</div>
