<div class="group-educacenso">
  <h3>Matrículas</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Creche</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Pré escola</th>
      <td>10</td>
    </tr>
    <tr>
      <th>Anos iniciais (1ª a 4ª série ou 1º ao 5º ano)</th>
      <td>54</td>
    </tr>
    <tr>
      <th>Anos finais (5ª a 8ª série ou 6º ao 9º ano)</th>
      <td>52</td>
    </tr>
    <tr>
      <th>Ensino Médio</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Educação de Jovens e Adultos</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Educação Especial</th>
      <td>3</td>
    </tr>
    </tbody>
  </table>
</div>