<div class="group-educacenso">
  <h3>Equipamentos</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Aparelho de DVD</th>
      <td><span style="color: darkgreen">Sim</span></td>
    </tr>
    <tr>
      <th>Impressora</th>
      <td><span style="color: darkgreen">Sim</span></td>
    </tr>
    <tr>
      <th>Copiadora</th>
      <td><span style="color: darkgreen">Sim</span></td>
    </tr>
    <tr>
      <th>Retroprojetor</th>
      <td><span style="color: red">Não</span></td>
    </tr>
    <tr>
      <th>Televisão</th>
      <td><span style="color: darkgreen">Sim</span></td>
    </tr>
    </tbody>
  </table>
</div>
