<div class="group-educacenso">
  <h3>Alimentação</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Alimentação é fornecida aos alunos?</th>
      <td>
        <span style="color: red">Não</span>
      </td>
    </tr>
    <tr>
      <th>A escola possui água filtrada?</th>
      <td><span style="color: darkgreen">Sim</span></td>
    </tr>
    </tbody>
  </table>
</div>