<div class="group-educacenso">
  <h3>Outras Informações</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Número de Funcionários da Escola</th>
      <td>20</td>
    </tr>
    <tr>
      <th>A escola possui organização por ciclos?</th>
      <td>
        <span style="color: darkgreen">Sim</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>