<div class="enem-results row ca">
  <header class="span12 enem-header">
    <h1>Média em Ciências da Natureza</h1>
    <h2>Física, química e biologia</h2>
  </header>
  <div class="span4 score-ct">
    <p class="score"><span class="value">{{ schoolResults.getNaturalSciencesAverage()|round(0, 'floor') }}</span>pts</p>
    <p class="description">Média em Ciências da Natureza</p>
  </div>
  <div class="span8 main-ct">
    <div class="span image-ct">
      <span class="image-border">
        <span class="image"></span>
      </span>
    </div>

    <div class="span links-ct">
      <p><i class="glyphicon glyphicon-chevron-right"></i>
        <a target="_blank" href="/ajuda/artigo/446101">Conheça as 8 competências avaliadas nesta área</a>
      </p>
      <p><i class="glyphicon glyphicon-chevron-right"></i>
        <a target="_blank" href="/ajuda/artigo/446104">Interprete este resultado pedagogicamente com a escala de desempenho de Ciências da Natureza</a>
      </p>
      <p><i class="glyphicon glyphicon-chevron-right"></i>
        <a target="_blank" href="/ajuda/artigo/446108">Veja como foi o desempenho do Brasil nesta área</a>
      </p>
    </div>
  </div>
</div>
<p class="source">
  Fonte: QEdu.org.br. Microdados do Enem/Inep ({{ filter.getCurrentYear() }}).
  <a target="_blank" href="/ajuda/artigo/446100">Veja Notas Técnicas aqui</a>
</p>
