@font-face {
    font-family: 'Lucida Grande';
    src: url('/font/lucida/lucida.eot');
    src: url('/font/lucida/lucida.eot?#iefix') format('embedded-opentype'),
         url('/font/lucida/lucida.woff') format('woff'),
         url('/font/lucida/lucida.ttf') format('truetype'),
         url('/font/lucida/lucida.svg#qedu') format('svg');
    font-weight: normal;
    font-style: normal;
}
