<section class="subnav-section auto-height gray-pattern">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h1>Sobre o QEdu</h1>
      </div>

      <div class="social-section">
        <div class="pull-right">
          <div class="addthis_sharing_toolbox"></div>
        </div>
      </div>
    </div>

    <div class="subnav">
      <ul class="nav nav-pills">
        <li class="active"><a href="/sobre">Quem somos</a></li>
        <li class=""><a href="/sobre/dados-disponiveis">Dados disponíveis</a></li>
        <li class=""><a href="/sobre/linha-do-tempo">Linha do tempo</a></li>
        <li class=""><a href="/sobre/depoimentos">Depoimentos</a></li>
        <li class=""><a href="/sobre/creditos">Equipe</a></li>
      </ul>
    </div>
  </div>
</section>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-542c488254cb45ee" async></script>
