<section class="normal-section about-about-section">

  <div class="container">
    <div class="row">
      <div class="span12 help-content">
        <h1>Use dados, <br>transforme a educação</h1>
        <p>Acreditar que dados são essenciais no processo de transformação da educação brasileira é o que tem movido o QEdu. Nosso time acredita que é possível sim dar vida aos dados educacionais para auxiliar gestores, diretores, professores e todos os interessados a fazerem melhores escolhas na educação. Com esse ideal, aplicamos tecnologias inovadoras e design moderno para facilitar o acesso aos dados educacionais, usamos referenciais teóricos sólidos para mostrar como é possível usar os dados, e assim construímos o QEdu, um projeto inédito idealizado pela Meritt - na pessoa dos Srs. Ricardo Fritsche e Alexandre Oliveira - e pela Fundação Lemann em 2012.
        <br><br>
        Nós queremos estar presente no dia a dia das instituições e pessoas comprometidas com a melhoria da educação básica, e, por isso, buscamos sempre conhecer e suprir as necessidades das escolas e redes educação com relação ao uso de dados e indicadores educacionais. Para isso, o QEdu está criando conexões mais fortes com cada um de seus públicos, oferecendo mais dados, mais informações, mais conhecimento, aprendendo e crescendo junto com ele, criando uma rede de pessoas interessadas, engajadas e empoderadas para transformar a educação do Brasil.</p>
        <div class="alignvideo">
          <img src="//d2jaknbl34vcit.cloudfront.net/img/qedu/about/for-who.png" alt="Um círculo no centro com o logo do QEdu e vários outros círculos se ligando a este por retas, conectando professores, secretários, consultores, jornalistas, etc ao QEdu."/>
        </div>
      </div>
    </div>
  </div>

  <section class="valores">
    <div class="container">
      <div class="row">
        <div class="span12">
          <article>
            <h2>Missão</h2>
            <p>Dar vida aos dados para promover melhores escolhas na educação</p>
          </article>
          <article>
            <h2>Visão</h2>
            <p>Estar presente no dia a dia das instituições e pessoas comprometidas com a melhoria da educação básica do Brasil</p>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section id="howtohelp">
    <div class="container">
      <h2>Como ajudar o QEdu</h2>
      <p>Você pode apoiar o QEdu sempre que utiliza as informações educacionais disponíveis para melhorar a qualidade do debate sobre educação. Além disso, você também pode:</p>
      <ul class="help">
        <li>
          <a href="/#cadastro">
            <span class="img cadastro"></span>
            <h3>Cadastro</h3>
            <p>Assim você passa a receber todas as atualizações do portal e acesso à recursos especiais;</p>
          </a>
        </li>
        <li>
          <a href="/especiais/voce-transforma-a-educacao">
            <span class="img depoimento"></span>
            <h3>Depoimento</h3>
            <p>Deixe seu testemunho! O QEdu já é utilizado por redes e escolas de todo o Brasil</p>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/PortalQEdu" target="_blank">
            <span class="img curtida"></span>
            <h3>Curtida</h3>
            <p>Ao curtir nosso Facebook você nos ajuda a divulgar o QEdu entre seus amigos</p>
          </a>
        </li>
      </ul>
      <p><a href="/sobre/dados-disponiveis" class="btn">Veja os dados disponíveis no QEdu</a></p>
    </div>
  </section>

</section>
