<div class="filters">
  <div class="filter-ct">
    <label for="edition">Ano:</label>
    <div class="btn-group" id="edition">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
        <span class="button-edition-filter-value">2017</span>
        <span class="caret"></span>
      </a>
    </div>
  </div>
</div>
