<section class="enem-more-info">
  <header class="container">
    <h2>Mais informações sobre o Enem</h2>
  </header>
  <div class="more-info-ct">
    <div class="more-info-links-ct container">
      <div class="more-info-link-ct span4">
        <a target="_blank" href="http://www.mec.gov.br" class="more-info-link link-prouni">
          <span class="link-icon-border"><span class="link-icon"></span></span>
          <h3>Prouni e Sisu</h3>
          <p>Entenda como o seu resultado no Enem pode lhe ajudar a entrar nas melhores universidades do Brasil.</p>
        </a>
      </div>
      <div class="more-info-link-ct span4">
        <a target="_blank" href="http://enem.inep.gov.br" class="more-info-link link-enem">
          <span class="link-icon-border"><span class="link-icon"></span></span>
          <h3>Inscrição no Enem</h3>
          <p>Você é estudante e quer fazer o exame? Veja todas as informações a respeito do Enem.</p>
        </a>
      </div>
      <div class="more-info-link-ct span4">
        <a target="_blank" href="http://portal.inep.gov.br/web/enem/enem" class="more-info-link link-inep">
          <span class="link-icon-border"><span class="link-icon"></span></span>
          <h3>Resultados oficiais do Inep</h3>
          <p>Sistema de informações, pesquisas e estatísticas do MEC. Veja também publicações e outras avaliações.</p>
        </a>
      </div>
    </div>
  </div>
</section>
